Makefile
Makefile.in
aclocal.m4
.deps/
.libs/
autom4te.cache/
build/autotools/libtool.m4
build/autotools/ltoptions.m4
build/autotools/ltsugar.m4
build/autotools/ltversion.m4
build/autotools/lt~obsolete.m4
build/compile
build/config.guess
build/config.sub
build/depcomp
build/install-sh
build/ltmain.sh
build/missing
build/test-driver
config.h
config.h.in
config.h.in~
config.log
config.status
configure
libtool
stamp-h1
xapian-glib/xapian-glib-1.0.pc
xapian-glib/xapian-glib.pc
xapian-glib/Xapian-1.0.gir
xapian-glib/Xapian-1.0.typelib
xapian-glib/xapian-glib-version.h
xapian-glib/libxapian-glib-1.0.la
xapian-glib/*.lo
xapian-glib/tests/*.o
xapian-glib/tests/*.log
xapian-glib/tests/*.trs
