Source: xapian-glib
Priority: standard
Maintainer: Emmanuele Bassi <emmanuele@endlessm.com>
Build-Depends: autotools-dev,
               debhelper (>= 9.0.0),
               gir1.2-glib-2.0,
               gobject-introspection (>= 0.9.7),
               gtk-doc-tools (>= 1.18),
               libgirepository1.0-dev,
               libxapian-dev
Standards-Version: 3.9.6
Section: non-free/libs
Homepage: http://www.endlessm.com

Package: gir1.2-xapian-1.0
Section: non-free/libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
         ${shlibs:Depends},
         ${gir:Depends}
Description: GObject/C bindings for the Xapian API
 Xapian-GLib is a wrapper library that offers a C API and GObject types for the
 Xapian database. Xapian-GLib allows accessing the Xapian API in various
 languages, through the GObject Introspection API.
