#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --builddirectory=_build --with gir

override_dh_auto_configure:
	dh_auto_configure -- \
		--prefix=${DEB_PREFIX} \
		--libdir=${DEB_PREFIX}/lib/$(DEB_HOST_MULTIARCH) \
		--libexecdir=${DEB_PREFIX}/bin \
		--mandir=${DEB_PREFIX}/share/man \
		--includedir=${DEB_PREFIX}/include

override_dh_clean:
	dh_clean
	rm -rf _build

override_dh_strip:
	dh_strip --dbg-package=libxapian-glib-1.0-dbg
