#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

CONFFLAGS=--prefix="/usr" --libdir="/usr/lib/$(DEB_HOST_MULTIARCH)" --libexecdir="/usr/bin" --mandir="/usr/share/man" -Dbuild_docs=true

%:
	dh $@ --builddirectory=_build --with gir --without autoreconf

override_dh_auto_configure:
	mkdir _build
	meson $(CONFFLAGS) . _build

override_dh_auto_install:
	DESTDIR=$(CURDIR)/debian/tmp ninja -C_build -v install

override_dh_clean:
	dh_clean
	rm -rf _build

override_dh_auto_build:
	ninja -C_build -v

override_dh_strip:
	dh_strip --dbg-package=libxapian-glib-1.0-dbg
